$surveyPrimary: hsla(231, 99%, 66%, 1);
$surveyLight: rgb(228, 233, 255);
$gmailRed: hsl(2, 85%, 42%);
$facebookBlue: hsl(221, 44%, 41%);
$surveyWhite: hsl(0, 0%, 100%);

$sanSerifFont : 'Epilogue', sans-serif;